
@font-face {
  font-family: 'GOST-2-304-81typeB';
  src: url('GOST-2-304-81typeB.eot?#iefix') format('embedded-opentype'),  url('GOST-2-304-81typeB.woff') format('woff'), url('GOST-2-304-81typeB.ttf')  format('truetype'), url('GOST-2-304-81typeB.svg#GOST-2.304-81typeB') format('svg');
  font-weight: normal;
  font-style: normal;
}
